.course {
	width: 20rem;
	height: 24rem;
	perspective: 100rem;
}

/* .course.hilight {
	box-shadow: ;
} */

.course-inner {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.8s;
}

.course.active .course-inner {
	transform: rotateY(180deg);
}

.course-front,
.course-back {
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0.1rem 0.1rem 0.5rem black;

	transition: box-shadow 1s;
}

.hilight .course-front,
.hilight .course-back {
	box-shadow: 1rem 1rem 5rem var(--main-color);
}

.course-front {
	background-color: #fff;
}

.course-front :not(:last-child) {
	margin-bottom: 1.5rem;
}

.course-back {
	background-color: #f9f9f9;
	transform: rotateY(180deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.course-back .content {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.course-back a {
	margin-bottom: 1rem;
	font-size: 1.6rem;
	width: 15rem;
	background-image: var(--background-image);
	/*linear-gradient(rgba(131, 102, 169, 0.7), black); */
	color: white;
	text-align: center;
	border-radius: 0.5rem;
	padding: 0.25rem 0;
}

.course h2,
.course p {
	margin: 0;
	text-align: center;
}

.course h2 {
	font-size: 2rem;
	margin-top: 1.6rem;
}

.course p {
	font-size: 1.6rem;
}

.course .image {
	display: block;
	width: 18rem;
	height: 10.5rem;
	overflow: hidden;
	border-radius: 0.5rem;
}

.course .image img {
	width: 100%;
	height: 100%;
}

.course-front .department {
	position: relative;
	padding: 1rem 0;
}

.department span {
	background-color: #fff;
	padding: 0 1rem;
}

.department::before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgba(131, 102, 169, 0.7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}