/* start global variables */
:root {
	--main-color: #44426c;	
	--background-image: linear-gradient(#8380bc, #44426c);
	--section-padding: 10rem;
	--paragraph-color: #777;
	--main-border-radius: 10px;
}

html {
	letter-spacing: 1px;
}

* {
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}
/* end global variables */

/* start global rules */
.centerd {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.main-heading {
	text-align: center;
}

.main-heading h2 {
	text-transform: uppercase;
	position: relative;
	font-weight: normal;
	font-size: 4rem;
	margin-bottom: 7rem;
}

.main-heading h2::before {
	content: "";
	background-color: #333;

	position: absolute;
	bottom: -3rem;
	left: 50%;
	transform: translateX(-50%);

	width: 12rem;
	height: 1px;
}

.main-heading h2::after {
	content: "";
	border: 1px solid black;
	background-color: white;

	width: 10px;
	height: 10px;
	border-radius: 50%;

	position: absolute;
	bottom: -35px;
	left: 50%;
	transform: translatex(-50%);
}

.main-heading p {
	width: 550px;
	margin: 0 auto 100px;
	max-width: 100%;
	line-height: 2;
	color: var(--paragraph-color);
}

.overflow-hidden {
	overflow: hidden;
}

html {
	scroll-behavior: smooth;
	font-size: 50%;
}

/*	Font Size	*/

/* Medium */
@media (min-width: 992px) {
	html {
		font-size: 55%;
	}
}

/* Large */
@media (min-width: 1200px) {
	html {
		font-size: 62.5%;
	}
}

body {
	font-family: "Work Sans", sans-serif;
}

.container {
	padding-right: 1.5rem;
	padding-left: 1.5rem;

	margin-left: auto;
	margin-right: auto;
	/* position: absolute;
	left: 50%;
	transform: translateX(-50%); */
}

/* Small */
@media (min-width: 768px) {
	.container {
		width: 75rem;
	}
}

/* Medium */
@media (min-width: 992px) {
	.container {
		width: 97rem;
	}
}

/* Large */
@media (min-width: 1200px) {
	.container {
		width: 117rem;
	}
}

.Toastify {
	font-size: 14px;
}

.Toastify__toast-container {
	width: 500px;
}